<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background-color: grey;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aliquid nostrum placeat tempora, repudiandae distinctio sequi, nisi voluptatibus, architecto fuga fugiat. Quia temporibus deserunt laborum aut est illum, architecto et.
      <%= link_to "know about us", about_path %>
      <%= link_to "contact list", contact_path %>
    </div>
    <%= yield %>
      <%= link_to "return to home", root_path %>
  </body>
</html>

